<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psdmgr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.ethernom.psdmgr.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ethernom.android.autofill.service.EnterPinActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->

<!--                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ethernom.android.autofill.service.SaveAuthActivity"
            android:label="@string/save_auth_name"
            android:taskAffinity=".SaveAuthActivity" />

        <service
            android:name="com.ethernom.android.autofill.service.EthernomAutofillService"
            android:label="Ethernom Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/debug_service" />
            <meta-data
                android:name="net.openid.openyolo-api"
                android:value="0.2.1" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ethernom.android.autofill.service.AuthActivity"
            android:label="@string/authentication_name"
            android:taskAffinity=".AuthActivity" />
        <activity
            android:name="com.ethernom.android.autofill.service.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_name"
            android:taskAffinity=".settings.SettingsActivity" />
        <activity
            android:name="com.ethernom.psdmgr.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>